PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=e-store
DB_NAME=e-store

# JWT Secret (add when implementing authentication)
# JWT_SECRET=your-secret-key-here
